VITE_SUPABASE_URL=https://ihnhplpxlrlmfxuzmdty.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_G04-sA2H5Cofe-YcwqTuqg_w8yivXCq
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51L0O3nBEuvxC28expi4udCptWQHLPxRJLPRuABtM3nCCpCyalOH4FtRZB3aufit3V6G7SopNfMhUCP3foxflshpa00K6STmRgW
